/*^ global style*/
:root {
    --main-color: rgb(51, 147, 255);
    --bg-gray: rgb(245, 245, 245);
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: (78, 78, 78, 1)
}

.main-color {
    color: var(--main-color);
}

.bg-gray {
    background-color: var(--bg-gray);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*^ end global style*/

/*& === start nav === */
.dropdown-submenu .dropdown-menu {
    display: none;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.my-nav .navbar-nav .nav-link.active {
    position: relative;
}

.my-nav .navbar-nav .nav-link {
    position: relative;
}

.my-nav .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bg-gray);
    transition: width 0.5 linear;
}

.my-nav .navbar-nav .nav-link.active:hover::after {
    width: 100%;
}

.my-nav .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--bg-gray);
    transition: width 0.5s linear;
}

.my-nav .navbar-nav .nav-link:hover::after {
    width: 100%;
}

/*& === end nav === */


/*! === start header === */
.home {
    min-height: 100vh;
    background-image: url(DevFolio/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.home h1 {
    font-size: 72px;
    font-weight: 600;
}

/*! === end header === */




/*& === start About me === */
.about .container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.skill-txt p {
    position: relative;
}

.skill-txt p::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgb(205, 225, 248);
}

.skill-txt .h::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 85%;
    height: 15px;
    background-color: var(--main-color);
    z-index: 1;
}

.skill-txt .c::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 75%;
    height: 15px;
    background-color: var(--main-color);
    z-index: 1;
}

.skill-txt .p::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50%;
    height: 15px;
    background-color: var(--main-color);
    z-index: 1;
}

.skill-txt .j::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 90%;
    height: 15px;
    background-color: var(--main-color);
    z-index: 1;
}

.about p {
    color: rgba(78, 78, 78, 1);
}

.about span {
    color: black;
}

.about-section h2 {
    position: relative;
}

.about-section h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 20%;
    height: 3px;
    background-color: var(--main-color);
}

/*& === end About me === */


/*! === start Services === */
.services h2 {
    font-size: 48px;
    font-weight: 700;
}

.services p {
    color: rgba(78, 78, 78, 1);
}

.services .card-container {
    box-shadow: 1px 5px 5px  rgba(0, 0, 0, 0.2);
}

/*! === end Services === */