.content .content-form .form-control:focus,
.insearch .form-control:focus {
    box-shadow: none;
    border-color: darkcyan !important;
}

title {
    width: fit-content;
    margin: auto;
}

.products .card img {
    width: 100%;
}